<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/flights/">Available Flights</a>
    <a href="/flights/new">Add Flights</a>
  </nav>
  <h1 id='welcome-text'><%= title %></h1>
  <p id='welcome-sub-text'>Welcome to <%= title %></p>
</body>

</html>